body {
    background-color: grey;
    font-size: 24px;
    margin-left: 300px;
    margin-right: 300px;
    background-image: url("starbd.gif");
    color: white;


h1{
    font-size: 72px;
}

a:hover img{
    transform: scale(1.2);
}